@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  background-color: #a8dadc;
  color: black;
  font-family: "Poppins", sans-serif;
  padding-left: 1.1em;
}

#content {
  max-width: 940px;
  margin: 0 auto;
}

header {
  display: grid;
  grid-template-columns: 110px auto;
}

.logo-box {
  background-color: #f1faee;
  border-radius: 50px 50px 0 0;
  padding: 0.5em;
  border: 1px solid black;
}

nav ul {
  list-style: none; /* removes the bullets! */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
  align-items: center;
}

nav a:hover {
  background-color: #a8dadc;
}

.banner-box img {
  width: 100%;
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1em;
}

.home-headline-1 {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.home-paragraph-1 {
  grid-column: 2 / 4;
  grid-row: 2 / 4;
}

.home-right-img {
  grid-column: 4 / 6;
  grid-row: 1 / 3;
}

.home-headline-2 {
  grid-column: 3 / 6;
  grid-row: 4 / 5;
}

.home-paragraph-2 {
  grid-column: 3 / 5;
  grid-row: 5 / 7;
}

.home-left-img {
  grid-column: 1 / 3;
  grid-row: 4 / 6;
}

.home-paragraph-3 {
  grid-column: 1 / 6;
  grid-row: 7 / 8;
}

img {
  max-width: 100%;
}

h2 {
  margin-top: 30px;
  margin-bottom: -10px;
  line-height: 30px;
  border-top: 5px double;
  border-bottom: 5px double;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

h3 {
  font-size: 1.1;
  margin-top: 10px;
  margin-bottom: -10px;
  line-height: 30px;
  border-top: 5px double;
  border-bottom: 5px double;
}

p {
  padding-left: 0.5em;
  line-height: 20px;
  margin-bottom: 10px;
}

section.home-paragraph-3 {
  text-align: center;
  padding-bottom: 1.1em;
}

body {
  background-color: #457b9d;
  font-family: "Open Sans", sans-serif;
}

nav {
  font-size: 1.1em;
}

nav a {
  color: #f1faee;
}

main {
  background-color: #f1faee;
}

img {
  max-width: 100%;
}

footer {
  display: grid;
  grid-template-columns: auto 13em;
  grid-template-rows: 55px;
  align-items: center;
  padding-top: 1.1em;
  padding-bottom: 1.1em;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.row {
  font-family: "Poppins", sans-serif;
}
.column {
  font-family: "Open Sans", sans-serif;
}

@media screen and (max-width: 550px) {
  /* beginning of media query */
  .column {
    width: 100%;
  }
  .home-grid {
    display: block;
  }

  /* end of media query */
}

.active,
.accordion:hover {
  background-color: black;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
input {
  display: none;
}

label {
  display: block;
  padding: 8px 22px;
  margin: 0 0 1px 0;
  cursor: pointer;
  background: #f1faee;
  border-radius: 3px;
  color: black;
  transition: ease 0.5s;
}

label:hover {
  background: #E63946;
}

.content {
  background: #f1faee;
  padding: 10px 25px;
  border: 1px solid black;
  margin: 0 0 1px 0;
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
}

input + label + .content {
  display: none;
}

input:checked + label + .content {
  display: block;
}